@using Azmoon.Application.Service.User.Dto
@using Azmoon.Common.ResultDto
@model PagingDto<List<UserShowAdminDto>>
@addTagHelper *, LazZiya.TagHelpers

<div class="row">
    <div class="col-sm-4 col-xs-6">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control float-right" placeholder="جستجو">

                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <button type="submit" class="btn btn-primary">جستجو</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4 col-xs-6">
        <div class="form-group form-group-sm">


            <form class="form-inline d-inline" asp-action="Index" method="post">
                <button type="submit" name="search" value="clear" class="btn btn-default d-inline">
                    پاک کن
                </button>
            </form>

        </div>
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>



            <th>
                @Html.DisplayNameFor(model => model.Data.ElementAt(1).FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.ElementAt(1).LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.ElementAt(1).Phone)
            </th>


            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Data)
            {
                <tr>



                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>

                    <td>

                        @Html.ActionLink("نقش ها", "UserRoles", new { id = item.Id }, new { @class = "btn btn-outline-primary" })

                        @Html.ActionLink("ویرایش", "UpdateUser", new { Id = item.Id }, new { @class = "btn btn-outline-info" })

                        @Html.ActionLink("دسترسی", "GroupAccess", new { Id = item.Id }, new { @class = "btn btn-outline-danger" })
                        @Html.ActionLink("بازنشانی رمز", "ResetPassword", new { userName = item.UserName }, new { @class = "btn btn-outline-info" })
                        @if (item.LockoutEnabled)
                        {
                            @Html.ActionLink("غیر فعال کردن", "ChengeLockAccunt", new { userName = item.UserName }, new { @class = "btn btn-outline-dark" })
                        }
                        else
                        {
                            @Html.ActionLink("فعال کردن", "ChengeLockAccunt", new { userName = item.UserName }, new { @class = "btn btn-outline-success" })
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td><span class="badge badge-info">هیچ رکوردی ثبت نشده است</span></td>
            </tr>
        }

    </tbody>
</table>
@{
    if (Model != null)
    {
        <paging page-no="@Model.PageNo"
                page-size="@Model.PageSize"
                total-records="@Model.TotalRecords"
                show-prev-next="true"
                show-total-pages="true"
                show-total-records="true"
                show-page-size-nav="true"
                show-first-numbered-page="true"
                show-last-numbered-page="true"
                query-string-key-page-no="PageIndex"
                query-string-key-page-size="PageSize"
                query-string-value="@@(Request.QueryString.Value)"
                text-total-pages="صفحه"
                text-total-records="رکورد"
                text-first="&laquo;"
                text-last="&raquo;"
                text-previous="&lsaquo;"
                text-next="&rsaquo;"
                sr-text-first="اولین"
                sr-text-last="آخرین"
                sr-text-previous="قبلی"
                sr-text-next="بعدی"
                gap-size="2">
        </paging>
    }
}
@section ScriptPagination{
    <script src="~/lib/jquery/dist/jquery-3.1.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/jquery/dist/popper.min.js"></script>

}